#root {
  /* max-width: 100%; */
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logoImage {
  width: 50%;
}

.timeline-container {
  display: flex;
  justify-content: flex-end;
}


/* table */
.rtl-table {
  direction: rtl;
  text-align: right;
}

/* .rtl-table .MuiTableSortLabel-root {
  direction: ltr;
}

.rtl-table .MuiTablePagination-root {
  direction: ltr;
} */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  opacity: 0;
  animation: slideInFromLeft 0.5s forwards;
}




