#root {
  /* max-width: 100%; */
  margin: auto;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.swal2-container {
  z-index: 1500 !important; /* Higher than most elements */
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logoImage {
  width: 50%;
}

.timeline-container {
  display: flex;
  justify-content: flex-end;
}


/* table */
.rtl-table {
  direction: rtl;
  text-align: right;
}

/* for the animation of the stepper */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  opacity: 0;
  animation: slideInFromLeft 0.5s forwards;
}

/* for the table of the full detailed syllabus */
.borderLeft {
  border-left: 1px solid rgba(224, 224, 224, 1);
}

.custom-cell {
  padding: 0 !important;
  padding-right: 5px !important;
}
.css-1xsq4dq-MuiModal-root-MuiPopover-root .MuiPopover-paper {
  margin-right: 50px;
  width: 40vh;
}

.css-ur1vvw {
  width: 28vh;
}